<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Register here</title>
</head>
<body>
	<h1>Create Your Account</h1>
	<form method="POST" action="">
		<div>
			Username:	<input type="text" th:field="${user.username}" />
		</div>
		<div>
			Password:	<input type="password" th:field="${user.password}" />
		</div>
		<div>
			Full Name:	<input type="text" th:field="${user.name}" />
		</div>
		<div>
			<input type="submit" value="Create Account" />
		</div>
	</form>
</body>
</html>